@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
        background-position: center;
}

.container{
    max-width: 550px;
    margin: 3.125rem;
    position: relative;
}

#title{
    color: aliceblue;
    font-weight: bold;
    padding: auto 50px auto 50px;
    line-height: 5mm;
}

#description{
    color: aliceblue;
    size: 0.2rem;
    font-weight: lighter;
}

#box{
    background-color: rgba(27, 27, 50, 0.8);
    border-radius: 20px;
}

#survey-form{
    color: aliceblue;
    text-align: left;
    line-height: 40px;
    padding: 30px;
    font-size: 20px;
}

.form-grp{
    margin-bottom: 20px;
    padding: 4px;
}

label{
    font-size: 20px;
}

input{
    font-size: medium;
    width: 98%;
    border-radius: 6px;
    border-style: none;
    height: 40px;
}

::placeholder{
    font-size: medium;
    padding-left: 10px;
}

#dropdown{
    width: 98%;
    height: 40px;
    border-radius: 6px;
    border-style: none;
    font-size: large;
}

#drop{
    padding-left: 20px;
}

p{
    margin: 0;
}

.input-radio{
    display: inline;
}